* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* FONTS */

@font-face {
  font-family: Lato-Regular;
  src: url(/fonts/Lato-Regular.ttf);
}

@font-face {
  font-family: Lato-Bold;
  src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Euro-Regular;
  src: url(/fonts/eurof55.ttf);
}

/* BASE */

html {
  font-family: Lato-Regular, sans-serif;
}

body {
  background-color: #ffffff;
}

/* HEADER */

.main-header {
  height: 100px;
  background-color: #292929;
  color: #e0e0e0;
  border-bottom: 6px solid #1e1e1e;
}

.main-header .logo,
.footer-container .logo {
  font-size: 2.5rem;
  font-family: Euro-Regular, sans-serif;
}

.main-header .logo span,
.footer-container .logo span {
  color: #58c93a;
}

/* main nav */

.main-nav a {
  text-decoration: none;
  color: inherit;
}

.hamburger {
  cursor: pointer;
  font-size: 1.4rem;
  margin-right: 1rem;
}

.main-nav li {
  cursor: pointer;
  list-style: none;
  font-size: 1rem;
  padding: 40px 35px;
  border-right: 1px solid #1e1e1e;
  border-bottom: 6px solid #1e1e1e;
  transition: 0.3s;
}

.main-nav li:first-child {
  border-left: 1px solid #1e1e1e;
}

.main-nav li:hover {
  color: #58c93a;
  border-bottom: 6px solid #58c93a;
}

.main-nav {
  display: flex;
  flex-direction: column;
  background-color: #292929;
  position: fixed;
  text-align: center;
  width: 33%;
  right: 0;
  bottom: 0;
  top: 0;
  transition: transform 0.3s;
  transform: translateX(100%);
}

.main-header .nav-bar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

/* LAYOUT */

.main-layout {
  max-width: 750px;
  margin: 0 auto;
}

.page-nav {
  border-top: 1px solid #e1e0e0;
  padding-inline-start: 30px;
  padding-inline-end: 30px;
  margin-top: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.page-nav span img {
  margin-bottom: 2px;
  margin-right: 5px;
  margin-left: 5px;
}

.page-nav a {
  color: #818181;
  text-decoration: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  transition: 0.3s;
}

.page-nav a:hover {
  color: #494949;
}

.footer-container {
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f8f8;
  border-top: 1px solid #e1e0e0;
}

.footer-container .logo {
  margin-bottom: 1.875rem;
}

.footer-container small {
  color: #c2c1c1;
  margin-bottom: 2.375rem;
  text-align: center;
}

.footer-container small span {
  color: #9b9a9a;
  font-weight: bold;
}

.footer-container .fab {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.15rem;
}

.footer-container .social-icon:hover {
  background-color: #516fad;
  transition: 0.3s;
}

.footer-container .socials {
  display: flex;
  gap: 1.25rem;
}

.footer-container .social-icon {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  text-align: center;
  background-color: #e5e5e5;
  margin-bottom: 5rem;
}

/* CARD */

.main-content {
  border-top: 1px solid #e1e0e0;
  border-right: 1px solid #e1e0e0;
  border-left: 1px solid #e1e0e0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}

.card h3 {
  font-family: Lato-Bold, sans-serif;
  font-size: 1.35rem;
  color: #4f4e4e;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.card p {
  color: #606060;
  font-size: 1rem;
}

.card button {
  cursor: pointer;
  background-color: #ffffff;
  font-size: 1rem;
  padding: 0.675rem;
  color: #c2c2c1;
  border-radius: 20px;
  border: 2px solid #c2c2c1;
  align-self: flex-start;
  margin-top: 1.5rem;

  transition: 0.3s;
}

.card .arrow {
  opacity: 0;
  transition: 0.3s;
}

.card button:hover {
  color: #58c93a;
  border: 2px solid #58c93a;
}

.card button:hover .arrow {
  opacity: 1;
  padding: 0 0.75rem;
}

.main-img {
  width: 21rem;
  height: 270px;
}

.card-content {
  margin-top: 1.5rem;
  width: 21rem;
}

/* MODAL */

.popup-modal {
  z-index: 3;
  display: none;
  background-color: rgb(247, 247, 247);
  border: 1px solid #494949;
  position: fixed;
  width: 20rem;
  height: 22rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20rem;
  margin: auto;
  color: #494949;
  padding: 1.05rem;
}

.modal-content h3 {
  font-size: 1.45rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.modal-content p {
  margin-bottom: 2rem;
  font-size: 0.8rem;
}

.modal-content button {
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1rem;
  color: white;
  background-color: #777777;
  border: none;
  width: 10rem;
  height: 3rem;

  transition: 0.3s;
}

.modal-content button:hover {
  background-color: rgb(212, 212, 212);
}

.modal-screen {
  z-index: 2;
  position: fixed;
  background-color: rgb(105, 49, 49);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.6s;
}

body.modal-open .modal-screen {
  opacity: 1;
  pointer-events: auto;
}

/* MEDIA QUERIES */

/* SMALL */

@media (max-width: 820px) {
  .main-header .logo {
    margin-left: 1rem;
  }

  .screen {
    position: fixed;
    background-color: rgb(105, 49, 49);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
  }

  body.menu-open .screen {
    opacity: 1;
    pointer-events: auto;
  }

  body.menu-open .main-nav {
    transform: translateX(0);
    box-shadow: -8px 0px 20px rgb(0 0 0 / 20%);
  }

  .drop-down-menu {
    display: none;
  }

  .drop-down-menu .drop-down-item {
    padding: 10px 0;
    text-align: start;
    border-bottom: 1px solid rgb(145, 145, 145, 0.5);
  }
  .drop-down-menu .drop-down-item:hover {
    border-bottom: 1px solid rgb(126, 194, 106);
  }
}

/* MEDIUM */
@media screen and (min-width: 850px) {
  .main-layout {
    max-width: 830px;
  }

  .main-img {
    width: 400px;
    height: 280px;
    margin-inline-end: 2.5rem;
  }

  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    width: 24rem;
  }

  .card {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .card h3 {
    font-size: 1.75rem;
  }

  .card button {
    margin-top: 0.85rem;
  }
  .main-nav {
    flex-direction: row;
  }

  .main-nav {
    flex-direction: row;
    position: static;
    width: auto;
    transform: translate(0);
    transition: none;
  }

  .hamburger {
    display: none;
  }

  .popup-modal {
    width: 27rem;
    height: 23.5rem;
  }

  .modal-content {
    width: 25rem;
    margin: auto;
  }

  .modal-content h3 {
    font-size: 1.75rem;
  }

  .modal-content p {
    font-size: 1rem;
    margin-bottom: 2.5rem;
  }

  .modal-content button {
    font-size: 1.5rem;
    width: 10rem;
    height: 3.5rem;
  }

  .modal-content button:hover {
    background-color: rgb(212, 212, 212);
  }

  .drop-down-container {
    display: flex;
    flex-direction: column;
    height: 100px;
  }

  .drop-down-menu {
    background-color: #292929;
    opacity: 0;
    pointer-events: none;

    transition: 0.3s ease;
  }

  .drop-down-container:hover .drop-down-menu {
    opacity: 1;
    pointer-events: auto;
  }

  .drop-down-menu .drop-down-item {
    padding: 15px 0;
    border-bottom: 4px solid #1e1e1e;
  }
}

/* REGULAR */
@media screen and (min-width: 950px) {
  .main-header {
    height: 130px;
  }

  .main-nav li {
    padding: 55px 44px;
  }

  .main-layout {
    max-width: 980px;
  }

  .main-img {
    width: 468px;
    height: 307px;
  }

  .card button {
    margin-top: 2.4rem;
  }
}
